@using pizza_planner.Views.Components
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <component type="typeof(PizzaOfTheDay)"
               render-mode="ServerPrerendered" />

</div>
